<!DOCTYPE html>
<html>
<head>
	<title>Chef's Corner</title>
	<link rel="stylesheet" type="text/css" href="static/style/css/add.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <img class="add" src="static/style/images/chef.jpg">
<div class="container-fluid">
	<div class="row">
    <div class="form-wrapper">
    <form action="{%url 'add_recipe'%}" method="post" name="add_recipe" enctype='multipart/form-data'>
      {% csrf_token %}
	  <h1>Add Recipe</h1>
        <div class="form-group">
        <label for="recipe-name">Recipe Name</label>
        <input type="text" class="form-control" id="recipe-name" name="recipe_name" required>
        </div>
        <div class="form-group">
        <label for="recipe-image">Recipe Image</label>
        <input type="file" class="form-control-file" id="recipe_image" name="recipe_image" required accept="image/*">
        </div>
        <div class="form-group">
            <label for="ingredient">Ingredient</label>
            <textarea class="form-control" id="ingredient" name="ingredient" rows="4"></textarea>
          </div>
        <div class="form-group">
        <label for="prep-time">Prep Time (minutes)</label>
        <input type="number" class="form-control" id="prep-time" name="prep_time" required>
        </div>
        <div class="form-group">
        <label for="serves">No. of Serves</label>
        <select class="form-control" id="serves" name="serves">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipe-type">Veg/Non-Veg</label>
        <select class="form-control" id="recipe-type" name="type">
            <option value="Veg">Veg</option>
            <option value="Non-Veg">Non-Veg</option>
        </select>
    </div>
	<div class="form-group">
  	<label for="recipe-description">Recipe Description</label>
  	<textarea class="form-control" id="recipe-description" name="r_desc" rows="4"></textarea>
	</div>
	<div class="text-center">
    <button type="submit" class="btn btn-warning back-btn"><i class="fas fa-plus"></i>Publish</button>
  </div>
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

</form>
</div>
</div>
</div>
</body>
</html>