<!DOCTYPE html>
<html>
<head>
	<title>Chef's Corner</title>
	<link rel="stylesheet" type="text/css" href="static/style/css/add.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <img class="add" src="static/style/images/add_recipe.jpg">
<div class="container-fluid">
	<div class="row">
    <div class="form-wrapper">
    <form action="{%url 'add_recipe'%}" method="post">
      {% csrf_token %}
	  <h1>Add Recipe</h1>
        <div class="form-group">
        <label for="recipe-name">Recipe Name</label>
        <input type="text" class="form-control" id="recipe-name" name="recipe-name" required>
        </div>
        <div class="form-group">
        <label for="recipe-image">Recipe Image</label>
        <input type="file" class="form-control-file" id="recipe-image" name="recipe-image" required accept="image/*">
        </div>
        <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <div id="ingredients">
        <div class="ingredient form-row">
        <div class="col">
        <input type="text" class="form-control" id="ingredient-name-1" name="ingredient-name-1" placeholder="Ingredient Name" required>
        </div>
        <div class="col">
        <input type="number" class="form-control" id="ingredient-quantity-1" name="ingredient-quantity-1" placeholder="Quantity" required>
        </div>
        <div class="col">
        <select class="form-control" id="ingredient-unit-1" name="ingredient-unit-1">
            <option value="none" disabled selected>Select Unit</option>
            <option value="grams">grams</option>
            <option value="milliliters">milliliters</option>
            <option value="teaspoons">teaspoons</option>
            <option value="tablespoons">tablespoons</option>
        </select>
        </div>
        </div>
        </div>
        <button type="button" class="btn btn-success" id="add-ingredient" onclick="addIngredient()">
          <i class="fas fa-plus"></i> Add Ingredient
        </button>
	    <button type="button" class="btn btn-danger" id="remove-ingredient" onclick="removeIngredient()">
        <i class="fas fa-minus"></i> Remove Ingredient
        </div>
        <div class="form-group">
        <label for="prep-time">Prep Time (minutes)</label>
        <input type="number" class="form-control" id="prep-time" name="prep-time" required>
        </div>
        <div class="form-group">
        <label for="serves">No. of Serves</label>
        <select class="form-control" id="serves" name="serves">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>
    <div class="form-group">
  	<label></label>
  	<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="veg" name="veg" value="veg">
    <label class="form-check-label" for="veg">Veg</label>
  	</div>
  	<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="non-veg" name="non-veg" value="non-veg">
    <label class="form-check-label" for="non-veg">Non-Veg</label>
    </div>
	  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dessert" name="dessert" value="dessert">
    <label class="form-check-label" for="dessert">Dessert</label>
    </div>
    </div>

	<div class="form-group">
  	<label for="recipe-description">Recipe Description</label>
  	<textarea class="form-control" id="recipe-description" name="recipe-description" rows="5"></textarea>
	</div>
	<div class="text-center">
  	<button type="submit" class="btn btn-warning">Add Recipe</button>
  </div>
</form>
</div>
</div>
</div>
<script src="static/style/js/add.js"></script>
</body>
	</html>