<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>View Recipes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="static/style/css/edit.css">
  
</head>
<body>

  <div class="container mt-5">
    <h2>View Recipes</h2>
    <div class="row">
      
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="row no-gutters">
            
            <div class="col-md-4">
              <img src="{{ recipe.recipe_image.url }}" class="card-img-top" alt="{{ recipe.recipe_name }}"style="width: 300px; height: 200px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.prep_time }} mins | {{ recipe.serves }} servings | {{ recipe.type }}</p>
                <p class="card-text recipe-description">{{ recipe.description.all|slice:":100" }}</p>
                <div class="recipe-details" data-recipe-id="{{ recipe.id }}">
                <h6>Ingredients:</h6>
                  <ul>
                    {% for ingredient in recipe.ingredient.splitlines %}
                      <li>{{ ingredient }}</li>
                    {% endfor %}
                  </ul>
                  <h6>Instructions:</h6>
                  <ol>
                    {% for description in recipe.description.splitlines %}
                      <li>{{ description }}</li>
                    {% endfor %}
                  </ol>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    
    </body>
    </html>
    
    
    
    
