<!DOCTYPE html>
<html>

<head>
  <title>Recipe Corner</title>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="static/style/images/favicon.png" type="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Cravings</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/style/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="static/style/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/style/css/responsive.css" rel="stylesheet" />

</head>

<body>
<!-- food section -->
<section class="food_section layout_padding-bottom">
    <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Recipe Hub
            </h2>
          </div>
          <div class="row">
          {% for r in recipe %}
          <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
          <div>
            <div class="img-box" style="height: 233px; width: 301px; overflow: hidden; padding: 1px;">
              <img src="{{ r.recipe_image.url }}"
               style="object-fit: cover; height: 130%; width: 100%; margin: 0;padding: 0;" id="recipe_name" 
               alt="{{ r.recipe_name }} Image">
  
            </div>
                    
          <div class="detail-box">
            <h5 class="text-center">
            {{ r.recipe_name }}
            </h5>
            <div class="btn-box" style="margin-top: 0px;">
              <a href="recipe_details?id={{ r.id }}" class="btn1">
                Know More
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  
        
</div>
</section>
    
<!-- end food section -->

</body>

</html>